<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Basicamente, cada nota musical será representada por uma cor.</h5>
            <p>A nota Fá(F) será representada pela cor amarelo escuro:</p>
        </div>
        <div class="d-flex justify-content-center">
            <div class="w-75 cor-nota-fa"></div>
        </div>
    </div>
</section>
  
  <div class="btn-etapas-container d-flex justify-content-between">
    <div class="btn-container"> 
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa4.etapa4Conteudo3)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container"> 
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa4.etapa4Conteudo5)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
  </div>