<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <p>Exemplo 1: Clave de Sol</p>
            <p>Usando a clave de Sol como referência, a segunda linha da pauta corresponde à nota G4:</p> 
        </div>
        <div>
            <img class="w-100" src="views/etapa3/img/pentagrama_clave_sol2.png">
        </div>
    </div>
</section>
  
  <div class="btn-etapas-container d-flex justify-content-between">
    <div class="btn-container"> 
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa3.etapa3Conteudo13)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container"> 
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa3.etapa3Conteudo15)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
  </div>