<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Nas partituras musicais, em que as pautas são utilizadas, a referência das notas é dada pelas claves.</h5>
            <p>Exemplo 1: Clave de Sol</p>
        </div>
        <div>
            <img class="w-100" src="views/etapa3/img/pentagrama_clave_sol.png">
        </div>
    </div>
</section>
  
  <div class="btn-etapas-container d-flex justify-content-between">
    <div class="btn-container"> 
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa3.etapa3Conteudo12)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container"> 
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa3.etapa3Conteudo14)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
  </div>