<div class="d-flex flex-column justify-content-center container align-items-center etapa1-container"> 
    <div class="d-flex justify-content-center align-items-center etapa1-menu-container">
        <div class="icon-container etapa1-icon-prof">
            <!-- <img class="icon-img"  src="assets/img/professor.svg"/> -->
        </div>
        <div>
            <h1>Parabéns!! Você terminou a etapa 1.</h1>
            <h5>Clique no botão abaixo para ir para a próxima etapa.</h5>
        </div>
    </div>
    <div class="btn-etapas-container d-flex justify-content-between">
        <div class="btn-container"> 
            <!-- <button id="btn-voltar-context" onclick="voltarConteudoEtapa1()" class="btn selecao-etapas-btn" role="button">Voltar para Selecionar Etapas</button> -->
        </div>
        <div class="btn-container"> 
            <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa2.conteudoInicial2, mainContainer)" class="btn selecao-etapas-btn" role="button">Etapa 2</button>
        </div>
    </div>
</div>