<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <p>Agora, considere o painel virtual abaixo contendo as notas de C2 a C4:</p>
        </div>
        <div class="d-flex justify-content-center ">
            <div class="w-50">C2<div class="cor-nota-do"></div></div>
            <div class="w-50">D2<div class="cor-nota-re"></div></div>
            <div class="w-50">E2<div class="cor-nota-mi"></div></div>
            <div class="w-50">F2<div class="cor-nota-fa"></div></div>
            <div class="w-50">G2<div class="cor-nota-sol"></div></div>
            <div class="w-50">A2<div class="cor-nota-la"></div></div>
            <div class="w-50">B2<div class="cor-nota-si"></div></div>
            <div class="w-50">C3<div class="cor-nota-do"></div></div>
            <div class="w-50">D3<div class="cor-nota-re"></div></div>
            <div class="w-50">E3<div class="cor-nota-mi"></div></div>
            <div class="w-50">F3<div class="cor-nota-fa"></div></div>
            <div class="w-50">G3<div class="cor-nota-sol"></div></div>
            <div class="w-50">A3<div class="cor-nota-la"></div></div>
            <div class="w-50">B3<div class="cor-nota-si"></div></div>
            <div class="w-50">C4<div class="cor-nota-do"></div></div>
        </div>
    </div>
</section>

  <div class="btn-etapas-container d-flex justify-content-between">
    <div class="btn-container"> 
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa5.etapa5Conteudo1)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container"> 
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa5.etapa5Conteudo3)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
  </div>