<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Nesta etapa, na nossa interface gráfica, as notas de oitavas diferentes serão indicadas pela posição delas no nosso painel virtual.</h5>
            <p>Por exemplo, considere o painel virtual abaixo contendo as notas de C1 a C2:</p>
        </div>
        <div class="d-flex justify-content-center ">
            <div class="w-50">C1<div class="cor-nota-do"></div></div>
            <div class="w-50">D1<div class="cor-nota-re"></div></div>
            <div class="w-50">E1<div class="cor-nota-mi"></div></div>
            <div class="w-50">F1<div class="cor-nota-fa"></div></div>
            <div class="w-50">G1<div class="cor-nota-sol"></div></div>
            <div class="w-50">A1<div class="cor-nota-la"></div></div>
            <div class="w-50">B1<div class="cor-nota-si"></div></div>
            <div class="w-50">C2<div class="cor-nota-do"></div></div>
        </div>
    </div>
</section>

  <div class="btn-etapas-container d-flex justify-content-between">
    <div class="btn-container"> 
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(telas.selecaoEtapas, mainContainer)" class="btn selecao-etapas-btn" role="button">Voltar para seleção de etapas</button>
    </div>
    <div class="btn-container"> 
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa5.etapa5Conteudo2)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
  </div>