<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Observe o seguinte exemplo, agora considerando três ciclos de Dó a Si:</h5>
        </div>
        <div>
            <img class="w-100" src="views/etapa2/img/gif_etapa2_2.gif">
        </div>
</section>

<div class="btn-etapas-container d-flex justify-content-between">
    <div class="btn-container"> 
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa2.etapa2Conteudo2)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container"> 
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa2.etapa2Conteudo4)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>