<section class="container-content">
    <div
      id="conteudo-etapa1"
      class="d-flex flex-column justify-content-around etapa1-texto"
    >
      <div>
        <h5>Exercício 1</h5>
      </div>
      <div>
        <p>Quantas oitavas há entra as notas C2 e C3?</p>
      </div>
    </div>
    <div
      class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center"
    >
      <div class="etapa1-notas" onclick="otrec()" role="button">1</div>
      <div class="etapa1-notas" onclick="odarre()" role="button">2</div>
      <div class="etapa1-notas" onclick="odarre()" role="button">3</div>
      <div class="etapa1-notas" onclick="odarre()" role="button">4</div>
      <div class="etapa1-notas" onclick="odarre()" role="button">5</div>
    <div class="mensagem" id="mensagem"></div>
  </section>
  
  <div class="btn-etapas-container d-flex justify-content-between">
      <div class="btn-container"> 
          <!-- <button id="btn-voltar-context" onclick="voltarConteudoEtapa1()" class="btn selecao-etapas-btn" role="button">Voltar para Selecionar Etapas</button> -->
      </div>
      <div class="btn-container"> 
          <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa2.etapa2Conteudo10)" class="btn selecao-etapas-btn" role="button">Avançar</button>
      </div>
  </div>